@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,501&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn-secondary {
    background-color: gray;
    background-color: black;
    color: white;
    box-shadow: none;
    border: 1px solid white;
    font-weight: 100;
}
div{
    margin-top: 1rem;
}
button:hover {
    background-color: black;
    color: white;
    border-color: white;
} */
.paragraph{
    color: gray;
    font-size: 13px;
    margin-top: 1rem;
}
.img{
    margin-top: 2rem;
    max-width: 90%;
    width: 400px;
    /* height: 250px; */
    border-radius: 20px;
    box-shadow: 2px 2px 50px 2px rgb(31, 29, 29);
}
button {
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: all 1s ease;
}
.btn-secondary:hover{
    background-color: white;
    color: black;
}
button:active{
    background-color: black;
    color: white;
    border-color: white;
}
.yellow{
    color: yellow;
}
*{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.fa-crown {
    position: absolute;
    right: 70px;
    transform: rotate(40deg);
    color: yellow !important;
}

.navbar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 7%;
    height: 20px;
    align-items: center;
}
.logo{
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
    align-items: center;
    text-decoration: none;
    color: white;
}
.logo img{
    height: 25px;
    width: 25px;
}
.heading{
    color: white;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.8rem;
    position: relative;
}
.fa-solid {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}